<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FastBuild.Dashboard.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="FastBuild.Dashboard.Profile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="FastBuilder.Profile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="FastBuilder.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <FastBuild.Dashboard.AppSettings>
            <setting name="WorkerCores" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WorkerMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExternalSourceEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalSourceEditorArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalSourceEditorAdditionalArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalSourceEditor" serializeAs="String">
                <value>visual-studio</value>
            </setting>
        </FastBuild.Dashboard.AppSettings>
        <FastBuild.Dashboard.Profile>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BuildJobDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
        </FastBuild.Dashboard.Profile>
        <FastBuilder.Profile>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </FastBuilder.Profile>
        <FastBuilder.AppSettings>
            <setting name="WorkerCores" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WorkerMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
        </FastBuilder.AppSettings>
    </userSettings>
</configuration>
